body { 

	margin: 0;
	padding: 0;
	box-sizing: 0;
	background: "business.gif";
	background-size: 100%;
	backdrop-filter: blur(3px);

}


h2 { 

	text-shadow: 4px -2px 1px gray;
	background: white;
	opacity: 0.8;
	font-size: 30px;
	font-family: arial;
	letter-spacing: 2px;
	color: darkblue;
	word-spacing: 5px;
	padding: 5px;
	padding-left: 50px;
	margin-right: 450px;
	margin-left: 10px;
	border-radius: 0.5em;
	filter: blur(0.5px);

	
}

.logo{ 

	position: relative;
	padding top: 0px;
	padding-bottom: 0top;
	left: 640px;
	top: 0px;
}

.link{

	text-align: right;
	word-spacing: 5px;
	font-family: arial;
	line-height: 30px;
	font-size: 16px;
	color: white;
	padding-right: 35px;
	text-shadow:2px 2px 10px white;
	
}

.itens a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;

}
.link a{
	text-decoration: none;
	text-transform: uppercase;
	color: blue;
}


.subtitulo{ 
	background: white;
	opacity: 0.8;
	padding: 8px;
	margin-right: 250px;
	margin-left: 250px;
	text-align: center;
	border-radius: 0.9em;

}

.itens { 

	display: block;
	line-height: 50px;
	font-size: 16px;
	font-family: arial;
	color: white;
	padding-left: 50px;
	padding-top: 10px;
	text-transform: uppercase;

}

.sponsor { 
	
	position: relative;
	background: white;
	opacity: 0.8;  
	margin: 0px;
	padding-left: 50px;
	padding-right: 50;
	top: 5px;
	word-spacing: 100px;
	border-radius: 0.3em;
	
	
}